/* Kill tweet button */
a._1zg5t6Rt {
  display: none !important;
}

/* Kill bottom border */
._1d_6kzhv {
  box-shadow: none !important;
}

/* Allow to read the text under '↑New Tweet' popup */
._1olbCNTo {
  position: fixed !important;
  right: 0.5em !important;
  top: -1em !important;
}

.tuitter-focused-item {
  background-color: #f0f3f5 !important;
}
