/* 'Open in mobile app' dialog at the top */
._3oxnid3o._3f2NsD-H {
  display: none !important;
}

/* Kill a panel which includes tweet button and timeline title */
._3ITjOJ53._3f2NsD-H {
  display: none !important;
}

/* Kill tweet button on type B (consider A/B testing) */
a._3TEZxQV {
  display: none !important;
}

/* Kill tweet button on type C */
a._1zg5t6Rt {
  display: none !important;
}

/* Kill header title of type C */
._2BKHJ5ik {
  display: none !important;
}

/* Fix height of header after header title is killed in type C */
._2HAljXql {
  height: 3rem !important;
}

/* Kill bottom border of type C */
._1d_6kzhv {
  box-shadow: none !important;
}

/* Allow to read the text under '↑New Tweet' popup */
._1olbCNTo {
  position: fixed !important;
  right: 0.5em !important;
  top: -1em !important;
}

/* Remove fixed height header because timeline title panel (._2BKHJ5ik) is removed */
._1d_6kzhv {
  height: inherit !important;
}

.tuitter-focused-item {
  background-color: #f0f3f5 !important;
}
